.btn-outline-success{
    color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover{
    color: white;
    background-color: chocolate;
    border-color: chocolate;
}

footer{
    background-color: black;
    color: white;
}

.first-line{
    border-bottom: 1px solid #392d23;
}

.second-line a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #392d23;
}

.third-line{
    display: none;
    color: white;
    padding-bottom: 5rem;
}

@media screen and (max-width:48rem){
    .first-line{
        text-align: center;
    }
}

@media screen and (max-width:48rem){
    .second-line{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 48rem){
    .third-line{
        display: block;
        text-align: center;
    }
}